<div id="<%= dom_id utente %>">
  <p>
    <strong>Username:</strong>
    <%= utente.username %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= utente.nome %>
  </p>

  <p>
    <strong>Cognome:</strong>
    <%= utente.cognome %>
  </p>

  <p>
    <strong>Cap regione:</strong>
    <%= utente.cap_regione %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= utente.telefono %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= utente.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= utente.password %>
  </p>



  <p>
    <strong>Avatar:</strong>
    <%= utente.avatar %>
  </p>

</div>
