<% if current_user.ristoratore.downcase == 'true' || current_user.ristoratore.downcase == 'si' %>

<div class="dati-utente" >
  <% @ristoranti.each do |ristorante|%>
            <div class= "result_box">
            <%= link_to ristorante do%>
            <div class="result_image"> 
                <img src="<%= ristorante.foto_ristorantes.first.url %>" style="width:100px;height:100px;border-radius:5px" >
            </div>
            <% end %>
            <div class="info-ristorante"> 
                 
                <h4> <%= link_to ristorante.nome, ristorante, style:"text-decoration:none;color:black" %></h4>
                <%= link_to "Visualizza Recensioni", ristorante_recensiones_path(ristorante), class:"icons", method: :get %>
                <br>

                 
            </div>
        </div>
        <% end %>
        <div id="pag">
         <%= paginate @ristoranti %>
         </div>

</div>

<% else %>

<div class="dati-utente" >
  <% @ristoranti.each do |ristorante|%>
   <% @recensioni.each do |recensione|%>
            <div class= "result_box">
            <%= link_to ristorante do%>
            <div class="result_image"> 
                <img src="<%= ristorante.foto_ristorantes.first.url %>" style="width:100px;height:100px;border-radius:5px" >
            </div>
            <% end %>
            <div class="info-ristorante"> 
                 
                <h4> <%= link_to ristorante.nome, ristorante, style:"text-decoration:none;color:black" %></h4>
                <%= link_to "Visualizza Recensione", ristorante_recensione_path(ristorante,recensione), class:"icons", method: :get %>
                <br>

                 
            </div>
        </div>
        <% end %>
        <% end %>
        <div id="pag">
         <%= paginate @ristoranti %>
         </div>

</div>


<% end %>

