


<% if $messaggio_notizia.present? %>
  <% flash[:notizia] = $messaggio_notizia %>
  <% $messaggio_notizia = nil %>
<% end %>

<% if $messaggio_errore.present? %>
  <% flash[:alert] = $messaggio_errore %>
  <% $messaggio_errore = nil %>
<% end %>

<div class = "titolo_form">
  Modifica Profilo
  <% flash.each do |key, value| %>
    <div class="<%= key %>"><%= value %></div>
  <% end %>
</div>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class = "form_register">

      <div class = "parte_sopra">

        <div class = "parte-sx"> 

          <div class="field register-label">
            <%= f.label :email %><br />
            <div class="register-text">
              <%= current_user.email %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field register-label">
            <%= f.label :password , "Nuova Password"%>
            <%= f.password_field :password, autocomplete: "new-password", class: "register-text register-text-2 pass_color", id: "password" , oninput: "validator()"%>
            <i class="fa-regular fa-eye"  style="color: black;" onclick="togglePasswordVisibility()"></i>
          </div>

          <div class="field register-label">
            <%= f.label :password_confirmation, "Conferma nuova password" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "register-text" %>
          </div>

          <div class="field register-label">
            <%= f.label :nome %><br />
            <%= f.text_field :nome, class: "register-text" %>
          </div>

          <div class="field register-label">
            <%= f.label :cognome %><br />
            <%= f.text_field :cognome, class: "register-text" %>
          </div>

          <script>
            function togglePasswordVisibility() {
              var passwordInput = document.getElementById('password');
              if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
              } else {
                passwordInput.type = 'password';
              }
            }
          </script>

        </div>

        <div class = "parte-dx">
        
          <div class="field register-label">
            <%= f.label :citta %><br />
            <%= f.text_field :citta , class: "register-text"%>
          </div>

          <div class="field register-label">
            <%= f.label :cap %><br />
            <%= f.number_field :cap , class: "register-text"%>
          </div>

          <div class="field register-label">
            <%= f.label :provincia %><br />
            <%= f.text_field :provincia, class: "register-text" %>
          </div>

          <div class="field register-label">
            <%= f.label :avatar %><br />
            <%= f.text_field :avatar, class: "register-text" %>
          </div>

          <div class="field register-label">
            <%= f.label :ristoratore %><br />
            <%= f.select :ristoratore, options_for_select([["No",false] , ["Si",true]]), prompt: "Sei un ristoratore?", class: "register-text" ,selected: 0 ,required: true  %>
          </div>
      
        </div>

      </div>

      <div class = "parte_sotto_2">

        <div class = "register-label-2 testo_password colore_1">
          PASSWORD <br> Inserire almeno: <br> 1 cifra, 1 Maiuscola, 1 minuscola,
          1 carattere speciale <br> 8 caratteri minimo
        </div>

        <div class="colore_2">
          <div class="field register-label ">
            <%= f.label :current_password , "Password attuale"%><br>
            <%= f.password_field :current_password, autocomplete: "current-password" , class: "register-text" , id: "current_password" %>
            <i class="fa-regular fa-eye"  style="color: black;" onclick="togglePasswordVisibility_current_password()"></i>
            <div class = "register-label-2 testo_password">
              Abbiamo bisogno della tua password attuale per confermare le tue modifiche
            </div>
          </div>
          
          <div class="actions ">
            <%= f.submit "Modifica",class: "nav-btn " %>
          </div>

          <div>
            <%= f.label :current_password , "Non ricordi la Password?", class: "field register-label" %><br>
            <%= link_to "Clicca qui!", new_password_path(resource_name), class: "nav-btn login_botton " %> 
            <div class = "register-label-2 testo_password">
              Verrà effettuato il LogOut
            </div>
          </div>

        </div>

        <script>
          function togglePasswordVisibility_current_password() {
            var passwordInput = document.getElementById('current_password');
            if (passwordInput.type === 'password') {
              passwordInput.type = 'text';
            } else {
              passwordInput.type = 'password';
            }
          }
        </script>

        <% end %>

        <div class="colore_3">
          <h3>Elimina Account</h3>
          <%= button_to "Elimina", registration_path(resource_name), class: "nav-btn", data: { confirm: "Sei sicuro di voler eliminare il tuo account?", turbo_frame: "your_frame_id" }, method: :delete, onclick: "return confirm('Sei sicuro di voler eliminare il tuo account?');" %>

        </div>

      </div> 
    
    </div>









<script>
  function validator() {
    var x = 0;
    var password = document.getElementById('password').value;
    var bar = document.getElementById("password");

    //controllo numeri
    var check=/[0-9]/;
    if(check.test(password)){
      x += 20;
    }
    //controllo minuscole
    var check2=/[a-z]/;
    if(check2.test(password)){
        x += 20;
    }
    //controllo maiuscole
    var check3=/[A-Z]/;
    if(check3.test(password)){
        x += 20;
    }
    //controllo simboli
    var check4=/[$-/:-?{-~!"^_`\[\]]/;
    if(check4.test(password)){
        x += 20;
    }
    // controllo lunghezza (minore o uguale a 10 caratteri)
    if(password.length >= 8){
        x += 20;
    }
  

    if (x == 100) {
      bar.style.backgroundColor = "rgba(0, 255, 0, 0.673)";
    }
    if (x <= 80) {
        bar.style.backgroundColor = "rgba(255, 166, 0, 0.659)";
      }
    if (x <=60) {
      bar.style.backgroundColor = "rgba(255, 0, 0, 0.258)";
    }
    if (x == 0) {
      bar.style.backgroundColor = "";
    }
  }
</script>


