<div id="<%= dom_id recensione %>">
  <p>
    <strong>Titolo:</strong>
    <%= recensione.titolo %>
  </p>

  <p>
    <strong>Commento:</strong>
    <%= recensione.commento %>
  </p>

  <p>
    <strong>Datavisita:</strong>
    <%= recensione.datavisita %>
  </p>

  <p>
    <strong>Datarecensione:</strong>
    <%= recensione.datarecensione %>
  </p>

  <p>
    <strong>Valutazione:</strong>
    <%= recensione.valutazione %>
  </p>

  <p>
    <strong>Prezzo:</strong>
    <%= recensione.prezzo %>
  </p>

  <p>
    <strong>Utente:</strong>
    <%= recensione.utente_id %>
  </p>

  <p>
    <strong>Ristorante:</strong>
    <%= recensione.ristorante_id %>
  </p>

</div>
