
<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>


<% if $messaggio_notizia.present? %>
  <% flash[:notizia] = $messaggio_notizia %>
  <% $messaggio_notizia = nil %>
<% end %>

<% if $messaggio_errore.present? %>
  <% flash[:alert] = $messaggio_errore %>
  <% $messaggio_errore = nil %>
<% end %>


<div class = "titolo_form">
  Reimposta la Password
  <% flash.each do |key, value| %>
    <div class="<%= key %>"><%= value %></div>
  <% end %>
</div>

<div class = "form_password_dimenticata">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field register-label register-label-pass-dim">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "register-text"%>
      </div>

      <div class="actions register-label-pass-dim">
        <div class = "register-label-2 "> verrà inviata un'email con il link per reimpostare la password</div>
        <%= f.submit "invia email",class: "nav-btn register-label-nav-btn" %>
      </div>
      
    <% end %>

</div>
