
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white" id="navbrist">

    <div class="container-fluid">
        <%= link_to "FoodAdvisor", home_index_path, class:"navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">

                <% if logged_in? %>
                <li>
                    <%= link_to "Hai un ristorante?", new_ristorante_url , class:"nav-link nav-hv", id:"new-rist"%>
                </li>
                <% end %>

                <% if logged_in? %>
                    <i class="fa-solid fa-user fa-xl" style="color: orange;"></i>
                    <div class = "icona_username">
                        <%= Current.user.username %>
                    </div>
                    <%= button_to "Logout", logout_path,class:"nav-btn2", method: :post %>
                <% else %>
                    <%= button_to "Login", login_path, class:"nav-btn2",method: :get %>
        
                    <%= button_to "Registrati", new_utente_path, class:"nav-btn2", method: :get %>
                <% end %>



              
                
            </ul>
        </div>
    </div>

</nav>