<% content_for :head do %>
  <%= javascript_import_module_tag "maps" %>
  <meta name="turbo-visit-control" content="reload">
<% end %>
<div class="layout">

<h1 class='header_h1'>Alla ricerca di un ristorante?</h1>

    <div class="filtri">
        <% @type.limit(5).each do |tipo| %>
        <%= button_to tipo.nome.capitalize() ,filters_path, class:"filtri-btn", method: :get, params: { :type => tipo.nome } %>
        <% end %>
    </div>


    <div class="search-form">
        <%= render partial: "search/form", locals: {results: []}%>
    </div>

    

        <div class="map-description">
            <p>
            Oppure puoi scegliere un ristorante sulla mappa qui sotto
            </p>
        </div>
        
    <div id="map"></div>


        <div class="carousel-description">
        <div class="carousel-bg"></div>
        <div class="carousel-text">
            <p>
                I ristoranti vicini a te
            </p>
        </div>
        <%= render "suggestions"%>
    </div>


    <div class="carousel-description">
        <div class="carousel-bg2"></div>
        <div class="carousel-text">
            <p>
                Esplora i migliori ristoranti
            </p>
        </div>
        <%= render "carousel"%>
    </div>

</div>


