<div id="<%= dom_id ristorante %>" style="margin:0;padding:0;">
    
  <div id="rist">
    <div class="container" id="ristorantes_info">

      <div class="row">
        <div class="col-auto">
          <h1 style="font-weight: bold;"><%= ristorante.nome %></h1>
        </div>
        <div class="col-auto">
          <% if logged_in? %>
            <% like=Current.user.likes.find_by(ristorante_id: ristorante.id)%>
            <% if like.nil?%>
              <form action="/likes" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="like[ristorante_id]" value="<%= ristorante.id %>">
                <button type="submit"  class="btn btnlike">
                  <i class='far fa-heart icon-heart'></i> 
                  <strong class="rev"><%= ristorante.likes.count%></strong> 
                </button>
              </form>
            <%else%>
              <form action="<%= like_path(like) %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit"  class="btn btnlike">
                  <i class='fas fa-heart icon-heart'></i>
                  <strong class="rev"><%= ristorante.likes.count%></strong> 
                </button>
              </form>
            <%end%>
          <%else%>
            <%= button_to login_path ,class:"btn btnlike"  do%>
              <i class='fas fa-heart icon-heart' ></i>
              <strong class="rev"><%= ristorante.likes.count%></strong> 
            <%end%>
          <%end%>
        </div>
        <div class="col-auto">
          <p id="textcons" class="hid"><strong>Consigliato da <%= ristorante.likes.count%> utenti!</strong></p>
        </div>
      </div>
      <div class="row"  style="margin-left: 10px;margin-bottom: 8px;margin-top: -10px;">
        <% Recensione.where(ristorante_id:params[:id]).group(:ristorante_id).average(:valutazione).each do |id, avg| %>
            <div class="col-auto">
              <i class="fa-solid fa-star fa-lg" <% if avg.to_f>=1%>style="color: orange;"<%else%>style="color: black;"<%end%>></i>
              <i class="fa-solid fa-star fa-lg" <% if avg.to_f>=2%>style="color: orange;"<%else%>style="color: black;"<%end%>></i>
              <i class="fa-solid fa-star fa-lg" <% if avg.to_f>=3%>style="color: orange;"<%else%>style="color: black;"<%end%>></i>
              <i class="fa-solid fa-star fa-lg" <% if avg.to_f>=4%>style="color: orange;"<%else%>style="color: black;"<%end%>></i>
              <i class="fa-solid fa-star fa-lg" <% if avg.to_f>=5%>style="color: orange;"<%else%>style="color: black;"<%end%>></i>
            </div>
        <% end %>
        <% Recensione.where(ristorante_id:params[:id]).group(:ristorante_id).average(:prezzo).each do |id, avg| %>
          <div class="col-auto">
            <i class="fa-solid fa-dollar-sign fa-lg" <% if avg.to_f>=1%>style="color: green;"<%else%>style="color: black;"<%end%>></i>
            <i class="fa-solid fa-dollar-sign fa-lg" <% if avg.to_f>=2%>style="color: green;"<%else%>style="color: black;"<%end%>></i>
            <i class="fa-solid fa-dollar-sign fa-lg" <% if avg.to_f>=3%>style="color: green;"<%else%>style="color: black;"<%end%>></i>
          </div>
        <% end %>    
        <%# <div class="col-auto">n. rec:<%= Recensione.where(ristorante_id:params[:id]).count(:all) %><%#</div> %>
        <div class="col-auto"><i class="fa-solid fa-utensils fa-lg" style="color: gray;"></i> <%= TipoCucina.find(ristorante.tipo_cucina_id).nome %></div>
        <div class="col-auto"><i class="fa-solid fa-clock fa-lg" style="color: black;"></i> <%= ristorante.oraapertura.strftime("%H:%M") %> - <%= ristorante.orachiusura.strftime("%H:%M") %> </div>
      </div>

    </div>

    <div class="" id="ristorantes_menu">

      <ul class="h-list-menu">
        <li class="hid"><a id="button" class="btn btn-light"  href="#section_descrizione">Descrizione</a></li>
        <li class="hid"><a id="button" class="btn btn-light"  href="#section_menu">Menu</a></li>
        <% if logged_in? %>
          <li><%= link_to 'Prenota', new_ristorante_prenotazione_path(@ristorante) ,id:"button" ,class:"btn btn-light" %></li>
          <li><%= link_to 'Recencisci', new_ristorante_recensione_path(@ristorante) ,id:"button" ,class:"btn btn-light" %></li>
        <% else %>
          <li><%= link_to 'Prenota', login_path ,id:"button" ,class:"btn btn-light" %></li>
          <li><%= link_to 'Recencisci', login_path ,id:"button" ,class:"btn btn-light" %></li>
        <%end%>
        <li class="hid"><a id="button" class="btn btn-light"  href="#section_recensioni">Recensioni</a></li>
        <li class="rev"><a id="button" class="btn btn-light"  href="tel:+39<%= ristorante.telefono %>"><i class="fa fa-phone" style="font-size:20px"></i></a></li>
        <li class="rev"><a id="button" class="btn btn-light"  href="https://www.google.com/maps/dir//<%= ristorante.indirizzo %>,+<%= ristorante.cap %>+<%= ristorante.citta %>+<%= ristorante.provincia %>/@<%= ristorante.latitudine %>,<%= ristorante.longitudine %>/"><i class="fas fa-map-marked-alt" style="font-size:20px"></i></a></li>
      </ul>

    </div>

    <div class="" id="ristorantes_body">
      <table><tr>
        <td id="sx_body">
          <div class="section_carosello">

            <% if FotoRistorante.where(ristorante_id:params[:id]).count(:all)>0 %>

              <div id="carouselExampleIndicators" class="carousel slide carousel-fade bg-light" data-ride="carousel" style="width: 100%;height: min-content;">
                <ol class="carousel-indicators">
                  <% ristorante.foto_ristorantes.each.with_index do |image, i| %>
                  <%# FotoRistorante.where(ristorante_id:params[:id]).select(:url).each.with_index do |image, i| %>
                    <li data-target="#carouselExampleIndicators" data-slide-to=<%= i %> <% if i==0 %>class="active"<%end%> ></li>
                  <%end%>
                </ol>
                <div class="carousel-inner" style="width: 100%;height: min-content;">

                  <% ristorante.foto_ristorantes.each.with_index do |image, i| %>
                  <%# FotoRistorante.where(ristorante_id:params[:id]).each.with_index do |image, i| %>
                    <div class="carousel-item <% if i==0 %>active<%end%>" id="carousel-item-0" style="width: 100%;padding-right:2%;padding-left:2%;">
                      <img src=<%= image.url %> style="width: 100%;max-height: 500px;height: auto;">
                    </div>
                  <%# link_to "See More", image %>
                  <%end%>
                
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon " aria-hidden="true" ></span>
                  <span class="sr-only" >Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="sr-only">Next</span>
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
              </div>

            <% end %>

          </div>

          <div id="section_descrizione">
            <h3 style="font-weight: bold;">DESCRIZIONE</h3>
            <textarea rows="5" cols="60" readonly><%= ristorante.descrizione %></textarea>            
          </div>

          <div id="section_menu">
            <h3 style="font-weight: bold;">MENU</h3>
            <div id="sec_menu">
              <%# Piatto.where(ristorante_id:params[:id]).each do |piatto| %>
              <% ristorante.piattos.each do |piatto| %>
                <div id="sec_piatto">
                  <div class="row"><div class="col-auto"><h5><%= piatto.nome %></h5></div><div class="col-auto"><p>$<%= piatto.prezzo %></p></div></div>
                  <p ><%= piatto.descrizione%></p>
                </div>
              <% end %>
            </div>
          </div>

          <div id="section_recensioni">
            <h3 style="font-weight: bold;">RECENSIONI</h3>
            <div id="section_rec">
              <% Recensione.where(ristorante_id:params[:id]).each do |recensione| %>

                <div class="section_recensione">
                  <div id="borderdiv">
                      <table><tr>
                          <td id="sx_rec">
                            <%if Utente.find(recensione.utente_id).avatar%><img src=<%= Utente.find(recensione.utente_id).avatar%> alt="Avatar"><%else%><img src="https://drive.google.com/uc?export=view&id=1YvD5yk7EfjT3iovndkMd1vouw6bbNxEc" alt="Avatar"><%end%>
                            <p style="font-weight: bold;"><%= Utente.find(recensione.utente_id).username %></p>  
                            <%#<p>rispettabilita'</p>%>
                          </td>

                        <td id="dx_rec">

                          <div class="row">
                            <div class="col-4 m-0 pl-1">
                              <i class="fa-solid fa-star fa-md" <% if recensione.valutazione>=1%>style="color: orange;"<%else%>style="color: black;"<%end%>></i>
                              <i class="fa-solid fa-star fa-md" <% if recensione.valutazione>=2%>style="color: orange;"<%else%>style="color: black;"<%end%>></i>
                              <i class="fa-solid fa-star fa-md" <% if recensione.valutazione>=3%>style="color: orange;"<%else%>style="color: black;"<%end%>></i>
                              <i class="fa-solid fa-star fa-md" <% if recensione.valutazione>=4%>style="color: orange;"<%else%>style="color: black;"<%end%>></i>
                              <i class="fa-solid fa-star fa-md" <% if recensione.valutazione>=5%>style="color: orange;"<%else%>style="color: black;"<%end%>></i>
                            </div>
                            <div class="col-4 m-0 pl-1">
                              <i class="fa-solid fa-dollar-sign fa-lg" <% if recensione.prezzo>=1%>style="color: green;"<%else%>style="color: black;"<%end%>></i>
                              <i class="fa-solid fa-dollar-sign fa-lg" <% if recensione.prezzo>=2%>style="color: green;"<%else%>style="color: black;"<%end%>></i>
                              <i class="fa-solid fa-dollar-sign fa-lg" <% if recensione.prezzo>=3%>style="color: green;"<%else%>style="color: black;"<%end%>></i>
                            </div>
                            <div class="col-4 pr-0">
                              <% if logged_in? %>
                                <% likerec=Current.user.like_recensiones.find_by(recensione_id: recensione.id)%>
                                <% if likerec.nil?%>
                                  <form action="/like_recensiones" method="post">
                                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                    <input type="hidden" name="like_recensione[recensione_id]" value="<%= recensione.id %>">
                                    <button type="submit"  class="btn btnliker">
                                      <i class='fa-solid fa-thumbs-up fa-lg' style='color: #A1CED8;'></i> <%= recensione.like_recensiones.count%>
                                    </button>
                                  </form>
                                <%else%>
                                  <form action="<%= like_recensione_path(likerec) %>" method="post">
                                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit"  class="btn btnliker">
                                      <i class='fa-solid fa-thumbs-down fa-lg' style='color: #A1CED8;'></i> <%= recensione.like_recensiones.count%>
                                    </button>
                                  </form>
                                <%end%>
                              <%else%>
                                <%= button_to login_path ,class:"btn btnliker"  do%>
                                  <i class='fa-solid fa-thumbs-up fa-lg' style='color: #A1CED8;'></i><%= recensione.like_recensiones.count%> 
                                <%end%>
                              <%end%>
                              
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-auto m-0  pl-1"><h5 ><%= recensione.titolo %></h5></div>
                            <div class="col-auto m-0  ml-1  hid"><p>(visitato il <%= recensione.datavisita.strftime("%m/%d/%Y") %>)</p></div>
                            <div class="col-auto m-0  ml-1 rev"><p style="font-weight: bold;"><%= Utente.find(recensione.utente_id).username %></p></div>
                          </div>
                          
                          <textarea class="p-0 m-0 pl-1" rows="10" cols="60" readonly><%= recensione.commento %></textarea>
                          
                          <div id="section_rec_img">                 
                            
                              <div class="row p-0" id="row-image">
                                <%if recensione.foto1%><div class="col-2 m-0 p-0" id="colonna"><img src=<%= recensione.foto1%> ></div><%end%>
                                <%if recensione.foto2%><div class="col-2 m-0 p-0" id="colonna"><img src=<%= recensione.foto2%> ></div><%end%>
                                <%if recensione.foto3%><div class="col-2 m-0 p-0" id="colonna"><img src=<%= recensione.foto3%> ></div><%end%>
                                <%if recensione.foto4%><div class="col-2 m-0 p-0" id="colonna"><img src=<%= recensione.foto4%> ></div><%end%>
                                <%if recensione.foto5%><div class="col-2 m-0 p-0" id="colonna"><img src=<%= recensione.foto5%> ></div><%end%>
                                <%if recensione.foto6%><div class="col-2 m-0 p-0" id="colonna"><img src=<%= recensione.foto6%> ></div><%end%>
                              </div>

                              <div class="popup-image">
                                <span>&times;</span>
                                <img src="" alt="">
                              </div>
                              

                          </div>


                          <div class="p-0 m-0" style="width: 98%;height: min-content;text-align: right;"><p><%= recensione.created_at.strftime("%d/%m/%Y") %></p></div>

                        </td>
                      </tr></table>
                  </div>
                </div>

              <% end %>
            </div>
          </div>

        </td>
        
        <td id="dx_body">

          <div id="borderdiv" >

            <div id="section_maps">
              <h5 style="padding-left:2%">Mappa</h5>
              <div id="map"></div>  
            </div>

            <div id="section_social">
              <h5 style="font-weight: bold;">Contatta via:</h5>
              <ul class="list-group">
                <li class="list-group-item l-contatti mt-0 mb-0 pb-0"><a class="a-contatti" href="mailto:<%= ristorante.email %>" ><%= ristorante.email %></a></li>
                <li class="list-group-item l-contatti mt-0 mb-0 pb-0"><a class="a-contatti" href="tel:+39<%= ristorante.telefono %>">+39<%= ristorante.telefono %></a></li>
                <% if ristorante.sitoweb1?%><li class="list-group-item l-contatti mt-0 mb-0 pb-0"><a class="a-contatti" href="<%= ristorante.sitoweb1 %>" target="_blank" >Sito principale</a></li><% end %>
                <% if ristorante.sitoweb2?%><li class="list-group-item l-contatti mt-0 mb-0 pb-0"><a class="a-contatti" href="<%= ristorante.sitoweb2 %>" target="_blank">Sito secondario</a></li><% end %>
                <% if ristorante.sitoweb3?%><li class="list-group-item l-contatti mt-0 pb-0"><a class="a-contatti" href="<%= ristorante.sitoweb3 %>" target="_blank">Sito terziario</a></li><% end %>
              </ul> 
              <h5 style="font-weight: bold; margin-top:10px">Indicazioni</h5>
              <a class="l-indicazioni" href="https://www.google.com/maps/dir//<%= ristorante.indirizzo %>,+<%= ristorante.cap %>+<%= ristorante.citta %>+<%= ristorante.provincia %>/@<%= ristorante.latitudine %>,<%= ristorante.longitudine %>/"><%= ristorante.indirizzo %>, <%= ristorante.citta %></a>
            </div>

          </div>

        </td>
      </tr></table>
    </div>

  </div>

</div>

<script>
$(document).ready(function(){

    $("#rist #ristorantes_body table #sx_body #section_recensioni #section_rec .section_recensione #borderdiv table #dx_rec #section_rec_img #row-image #colonna img").on("click", function() { //zoom nell'immagine
        $('#rist #ristorantes_body table #sx_body #section_recensioni #section_rec .section_recensione #borderdiv table #dx_rec #section_rec_img .popup-image').show();
        $('#rist #ristorantes_body table #sx_body #section_recensioni #section_rec .section_recensione #borderdiv table #dx_rec #section_rec_img .popup-image img').attr("src", $(this).attr("src"));
    });

    $("#rist #ristorantes_body table #sx_body #section_recensioni #section_rec .section_recensione #borderdiv table #dx_rec #section_rec_img .popup-image span").on("click", function() { //zoom nell'immagine
        $('#rist #ristorantes_body table #sx_body #section_recensioni #section_rec .section_recensione #borderdiv table #dx_rec #section_rec_img .popup-image').hide();
    });
    
    $('.carousel').carousel({
        interval: 1000
    })
});
</script>
