<div id="<%= dom_id prenotazione %>">
  <p>
    <strong>Ora:</strong>
    <%= prenotazione.ora %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= prenotazione.data %>
  </p>

  <p>
    <strong>Nomecliente:</strong>
    <%= prenotazione.nomecliente %>
  </p>

  <p>
    <strong>Cognomecliente:</strong>
    <%= prenotazione.cognomecliente %>
  </p>

  <p>
    <strong>Telefonocliente:</strong>
    <%= prenotazione.telefonocliente %>
  </p>

  <p>
    <strong>Emailcliente:</strong>
    <%= prenotazione.emailcliente %>
  </p>

  <p>
    <strong>Nadulti:</strong>
    <%= prenotazione.nadulti %>
  </p>

  <p>
    <strong>Nbambini:</strong>
    <%= prenotazione.nbambini %>
  </p>

  <p>
    <strong>Messaggio:</strong>
    <%= prenotazione.messaggio %>
  </p>

  <p>
    <strong>Utente:</strong>
    <%= prenotazione.utente_id %>
  </p>

  <p>
    <strong>Ristorante:</strong>
    <%= prenotazione.ristorante_id %>
  </p>

</div>
